body {
  font: 0;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
}