$mainColor: black;
$font: red;
$mobile: 500px;

.navbar {
  padding: 1%;
  max-height: 8vh;

  .brand {
    font-family: MedivalSharp;
  }

  a {
    color: $font !important;
  }

  .logo-left {
    max-height:5vh;
    float: left;
    // position: absolute;
    // top:10%;
    // left:1%;
    @media screen and (max-width: 300px) {
      display: none;
    }
  }
}