$mainColor: black;
$font: red;
$mobile: 500px;

.navbar {
  padding: 1%;

  .brand {
    font-family: MedivalSharp;
  }

  a {
    color: $font !important;
  }

  .logo-left {
    max-height:5vh;
    float: left;
    padding-right: 2%;
    @media screen and (max-width: 300px) {
      display: none;
    }
  }
}