$mobile: 800px;

.greeting {
  text-align: center;
}

.main-paper {
  .main {
  flex: auto;

    img {
      width: 48%;
      margin: .5vw;
    }
  }

  @media screen and (max-width: $mobile) {
    display: none !important;
  }
}

.pros {
  h4 {
    text-align: center;
    font-size: 3vmax;
  }

  ul {
    list-style-type: none;
    text-align: left;
  }

  .pc-pro {
    border-left: 2px solid black;

    @media screen and (max-width: $mobile) {
      border-left: none;
      border-top: 2px solid black;
    }
  }

  .bullet {
    height: 20px;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.get-started {
  text-align: center;
}