$mobile: 991px;

.col-md-6 {
  height: 20vh;
  @media screen and (max-width: $mobile) {
    height: auto;
  }

  ul {
    list-style: none;
  }

  .bullet {
    height: 15px;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

.jumbotron.visible-lg {
  height: 50vh;
}