$mobile: 800px;

body {
  font: 0;
  font-family: MedivalSharp;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  min-width: 350px;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.character-image {
  display: flex;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 2vw;
  @media screen and (max-width: 750px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 450px) {
    font-size: 5vw;
  }
}

.greeting {
  text-align: center;
}

.main-paper {
  .main {
  flex: auto;

    img {
      width: 48%;
      margin: .5vw;
    }
  }

  @media screen and (max-width: $mobile) {
    display: none !important;
  }
}

.pros {
  h4 {
    text-align: center;
    font-size: 3vmax;
  }

  ul {
    list-style-type: none;
    text-align: left;
  }

  .pc-pro {
    border-left: 2px solid black;

    @media screen and (max-width: $mobile) {
      border-left: none;
      border-top: 2px solid black;
    }
  }

  .bullet {
    height: 20px;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.get-started {
  text-align: center;
}

.notes-header {
  text-align: center;
  color: #D9F4FF;
}

.campaign-list {
  text-align: center;
}